<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
</head>
    <header>
        <nav>
            <div class="nav-logo">
            	<a th:href="@{/}">
                	<img th:src="@{/images/gym_logo.png}" alt="Gym Logo" class="logo">
           		</a>
            </div>
            <div class="nav-buttons">
                <form th:action="@{/loginPage}">
                    <input type="submit" value="Log in" class="nav-button"/>
                </form>
            </div>
        </nav>
    </header>
	<body>
	 	<main>
	        <form th:action="@{/registerPage/insertUser}" th:object="${userx}" method="post" class="register-form">
	            <label for="email">Email</label>
	            <input type="text" id="email" th:field="*{email}" required/>
	
	            <label for="password">Password</label>
	            <input type="password" id="password" th:field="*{password}" required/>
	
	            <label for="name">Name</label>
	            <input type="text" id="name" th:field="*{name}" required/>
	
	            <label for="surname">Surname</label>
	            <input type="text" id="surname" th:field="*{surname}" required/>
	
	            <label for="age">Age</label>
	            <input type="number" id="age" th:field="*{age}" required/>
	
	            <label for="weight">Weight</label>
	            <input type="number" id="weight" th:field="*{weight}" step="0.01"/>
	
	            <label for="gender">Gender</label>
	            <select id="gender" th:field="*{gender}">
	                <option value="OTHER">Other</option>
	                <option value="MALE">Male</option>
	                <option value="FEMALE">Female</option>
	            </select>
	
	            <input type="submit" value="Register now!"/>
	        </form>
   	 	</main>
	</body>
</html>