<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo">
            	<a th:href="@{/}">
                	<img th:src="@{/images/gym_logo.png}" alt="Gym Logo" class="logo">
           		</a>
            </div>
            <div class="nav-buttons-html">
            	<form th:action="@{/trainers}">
                    <input type="submit" value="Our trainers" class="nav-button-html"/>
                </form>
            	<form th:action="@{/gymClassesView}">
                    <input type="submit" value="Gym Classes" class="nav-button-html"/>
                </form>
            </div>
            <div class="nav-buttons">
                <form th:action="@{/loginPage}">
                    <input type="submit" value="Log in" class="nav-button"/>
                </form>
                <form th:action="@{/registerPage}">
                    <input type="submit" value="Sign up" class="nav-button"/>
                </form>
            </div>
        </nav>
    </header>

    <main>
            <h2>Bienvenido a Nuestro Gimnasio</h2>
            <h3>Tu salud es nuestra prioridad</h3>
            <p>Hoy es el cambio, no esperes a mañana</p>

        <section class="video-section">
            <div class="video-text">
                <h3>Entrena al lado de los mejores profesionales del sector</h3>
                <p>Con mas de 2 años de experiencia el gimnasio Hercules siempre a ofrecido a sus clientes el mejor 
                servicio con los mejores profesionales, nos caracterizamos por nuestra cercania con todo aquel que quiera entrenar con ganas.</p>
            </div>
            <video width="700" height="auto" controls class="trainer-video">
                <source th:src="@{/videos/personal_trainer_video.mp4}" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
        </section>



        <section class="gallery">
            <h2>Nuestro Espacio</h2>
            <p>Nuestras últimas instalaciones</p>
            <div class="image-gallery">
                <div class="gallery-item">
                    <img th:src="@{/images/gym_view.jpg}" alt="Gym view 1">
                    <p>Imagen por fuera del gimnasio</p>
                </div>
                <div class="gallery-item">
                    <img th:src="@{/images/gym_view_2.jpg}" alt="Gym view 2">
                    <p>Imagen por fuera del gimnasio</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
