<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Update your subscription</title>
</head>
<body>
	    <h1>Update your subscription</h1>
	    <p>Welcome, <span th:text="${session.currentuser.name}"></span>!</p>
	    <p>Email: <span th:text="${session.currentuser.email}"></span></p>
	    
	    <div th:if="${session.currentuser.subscription == null}">
           No tienes una suscripción.
           
         		<form th:action="@{/updateSubscription}" method=post>
				<select name="subscriptionType">
				    <option value="BasicSubscription">Basic subscription</option>
				    <option value="PremiumSubscription">Premium subscription</option>
				</select><br>
			
				<input type="submit" value="Register now!"/>
			</form>
      </div>
      <div>
      
	        <span th:if="${session.currentuser.subscription != null}">
	            Tu subscripción actual es: <span th:text="${session.currentuser.subscription.subscriptionName}"></span>
	        </span>
	    </div>	    
</body>
</html>