<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym classes</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/gym_classes_view.css}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo">
            	<a th:href="@{/}">
                	<img th:src="@{/images/gym_logo.png}" alt="Gym Logo" class="logo">
           		</a>
            </div>
            <div class="nav-buttons-html">
            	<form th:action="@{/trainers}">
                    <input type="submit" value="Our trainers" class="nav-button-html"/>
                </form>
            	<form th:action="@{/gymClassesView}">
                    <input type="submit" value="Gym Classes" class="nav-button-html"/>
                </form>
            </div>
            <div class="nav-buttons">
                <form th:action="@{/loginPage}">
                    <input type="submit" value="Log in" class="nav-button"/>
                </form>
                <form th:action="@{/registerPage}">
                    <input type="submit" value="Sign up" class="nav-button"/>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <section class="gym-class">
            <div class="gym-class-item">
                <img th:src="@{/images/yoga_class.jpg}" alt="Gym Class 1" class="gym-class-img">
                <div class="gym-class-text">
                    <h2>Yoga</h2>
                    <p>El yoga consiste en una serie de posturas (asanas) y técnicas de respiración (pranayama) que se practican de manera secuencial. Las clases pueden variar 
                    desde sesiones suaves y relajantes hasta entrenamientos más intensos y físicamente demandantes.Promueve la relajación, reduce el estrés y mejora la claridad mental. 
                    También fomenta la concentración y la atención plena.</p>
                </div>
            </div>
        </section>

        <section class="gym-class">
            <div class="gym-class-item">
                <div class="gym-class-text">
                    <h2>Pilates</h2>
                    <p> El Pilates se centra en ejercicios controlados y precisos que se realizan en colchonetas o con equipamiento especializado.
                    Los ejercicios se enfocan en el núcleo del cuerpo, incluyendo los músculos abdominales, de la espalda baja, las caderas y los glúteos.</p>
                </div>
                <img th:src="@{/images/pilates.jpg}" alt="Gym Class 2" class="gym-class-img">
            </div>
        </section>

        <section class="gym-class">
            <div class="gym-class-item">
                <img th:src="@{/images/body_pump.jpg}" alt="Gym Class 3" class="gym-class-img">
                <div class="gym-class-text">
                    <h2>BodyPump</h2>
                    <p>Cada clase sigue una coreografía predeterminada que incluye una serie de repeticiones altas con pesos bajos a moderados. Se trabaja 
                    cada grupo muscular por separado, generalmente comenzando con las piernas y terminando con los abdominales.</p>
                </div>
            </div>
        </section>
        <section class="gym-class">
            <div class="gym-class-item">
                <div class="gym-class-text">
                    <h2>Spinning</h2>
                    <p>Spinning se realiza en bicicletas estacionarias con resistencia ajustable. Las clases son guiadas por un instructor que marca el ritmo y la intensidad del entrenamiento al ritmo de la música..</p>
                </div>
                <img th:src="@{/images/spinning.jpg}" alt="Gym Class 2" class="gym-class-img">
            </div>
        </section>
    </main>
<body>

</body>
</html>