<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Update your subscription</title>
</head>
<body>
	    <h1>Update your subscription</h1>
	    <p>Welcome, <span th:text="${session.currentuser.name}"></span>!</p>
	    <p>Email: <span th:text="${session.currentuser.email}"></span></p>
	    
	    <div>
           No tienes una sus cripción.
           
         		<form th:action="@{/createUserSusbcription}" method=post>
				<select name="subscriptionType">
				    <option value="BasicSubscription">Basic subscription</option>
				    <option value="PremiumSubscription">Premium subscription</option>
				</select><br>
			
				<input type="submit" value="New Subscription!"/>
			</form>
      </div>
      	    
</body>
</html>