<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Subscripton update</title>
</head>
<body>
	<h1>Update your actual subscription</h1>
    <p>Your actual subscription is :<span th:text="${session.currentuser.subscription.subscriptionName}"></span></p>
    
    <h2>Basic Subscription</h2>
    <ul>
        <li>Access to all facilities during all operating hours.</li>
        <li>Access to all classes offered by the gym.</li>
        <li>Lower price compared to premium subscription.</li>
    </ul>

    <h2>Premium Subscription</h2>
    <ul>
        <li>Priority access to classes, making it easier to book popular classes.</li>
        <li>Includes sessions with professional trainers, providing personalized training and guidance.</li>
        <li>Higher price compared to basic subscription, but justifies cost for those valuing personalized attention.</li>
    </ul>
     
    <!-- Form to confirm subscription change -->
    <form th:action="@{/changeUserSubscriptionToPremium}" method="post" onsubmit="return confirm('Are you sure you want to change to Premium Subscription?');">
        <input type="hidden" name="subscriptionType" value="PremiumSubscription"/>
        <input type="submit" value="Change to Premium Subscription"/>
    </form>
    
     <!-- Form to delte subscription -->
    <form th:action="@{/deleteUserSubscription}" method="post" onsubmit="return confirm('Are you sure you want to finish your subscription?');">
        <input type="submit" value="Finish my subscription"/>
    </form>
</body>
</html>