<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Gym classes</title>
</head>
<body>
	<h1>This is the gym classes</h1>
	
    <div th:if="${#lists.isEmpty(listUserGymClass)}">
        <p>The user has no assigned gym classes.</p>
    </div>

    <div th:unless="${#lists.isEmpty(listUserGymClass)}">
        <table border="1">
            <thead>
                <tr>
                    <th>Email User</th>
                    <th>Gym Class ID</th>
                    <th>Name Class</th>
                    <th>Day of the week</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="userGymClass : ${listUserGymClass}">
                    <td th:text="${userGymClass.emailUser}"></td>
                    <td th:text="${userGymClass.gymClassId}"></td>
                    <td th:text="${userGymClass.gymClassName}"></td>
                    <td th:text="${userGymClass.gymClassWeeklyDay}"></td>
                </tr>
            </tbody>
        </table>
    </div>
	<div>
    	<form th:action="@{/joinSelectedGymClass}" method="post">
	        <input type="hidden" name="gym_class_id" value="1"/>
	        <input type="submit" value="Join Yoga"/>
		</form>
	    <form th:action="@{/removeUserFromSelectedClass}" method="post">
	        <input type="hidden" name="gym_class_id" value="1"/>
	        <input type="submit" value="Out of Yoga"/>
	    </form>
	</div>
	
	<div>
	    <form th:action="@{/joinSelectedGymClass}" method="post">
	        <input type="hidden" name="gym_class_id" value="2"/>
	        <input type="submit" value="Join Pilates"/>
	    </form>
	    <form th:action="@{/removeUserFromSelectedClass}" method="post">
	        <input type="hidden" name="gym_class_id" value="2"/>
	        <input type="submit" value="Out of Pilates"/>
	    </form>
	</div>
	
	<div>
	    <form th:action="@{/joinSelectedGymClass}" method="post">
	        <input type="hidden" name="gym_class_id" value="3"/>
	        <input type="submit" value="Join BodyPump"/>
	    </form>
	    <form th:action="@{/removeUserFromSelectedClass}" method="post">
	        <input type="hidden" name="gym_class_id" value="3"/>
	        <input type="submit" value="Out of BodyPump"/>
	    </form>
	</div>
	<div>
	    <form th:action="@{/joinSelectedGymClass}" method="post">
	        <input type="hidden" name="gym_class_id" value="4"/>
	        <input type="submit" value="Join Spinning"/>
	    </form>
   	    <form th:action="@{/removeUserFromSelectedClass}" method="post">
	        <input type="hidden" name="gym_class_id" value="4"/>
	        <input type="submit" value="Out of Spinning"/>
	    </form>
	</div>

   	<form th:action="@{/home}">
		<input type="submit" value="Go home"/>
	</form>

    

    
</body>
</html>